html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.container{
    background-color: hsl(30, 54%, 90%);
    height: 100vh;
    padding-top:1px;
}
.recipe-container{
    background-color: white;
    border: none;
    border-radius:15px;
    width:300px;
    margin:0 auto;
    padding-top:10px;
}
.first img{
    width:280px;
    padding-left:10px;
    border-radius:15px;
}
.first h1{
    font-family: 'young serif';
    font-size:20px;
    font-weight:400;
    padding-left:13px;
    color:hsl(24, 5%, 18%);
}
.ingredients > h3, .instructions > h3, .nutrition > h3{
    font-family:'young serif';
    font-size: 16px;
    font-weight: 400;
    padding-left:10px;
    color:hsl(14, 45%, 36%);
}
.ingredients > li,.preparation > li, .instructions > li, .nutrition > li,.nutrition > p{
    font-family: 'outfit';
    font-size:6px;
    color:hsl(30, 10%, 34%);
    padding-left:10px;
}
.side-head{
    font-family: 'outfit';
    font-size:6.5px;
    font-weight:600;
    color:hsl(24, 5%, 18%);
}
.first p{
    padding-left:13px;
    margin-top:-10px;
    font-size:7px;
    font-family: 'outfit';
    color:hsl(30, 10%, 34%);
}
ul.preparation {
    list-style-type: none; 
    padding-left: 0; 
    margin-left: 10px; 
    padding-top:2px;
    padding-bottom: 10px;
    background-color:hsl(330, 100%, 98%);
    width:280px;
    border-radius:8px;
}


ul.preparation h3 {
    margin-top:-1px;
    margin-left: 20px; 
    padding-left: 0;
    padding-top:1px;
    font-size:10px;
    color:hsl(332, 51%, 32%);
}

ul.preparation li {
    position: relative; 
    margin-left: 20px; 
    padding-left: 10px; 
}

ul.preparation li::before {
    content: "\2022"; 
    font-size: 15px;
    position: absolute; 
    left: 0; 
    bottom: -11px;
    line-height:2;
}

.ingredients h3{
    margin-left:-35px;
    margin-bottom: -0.5px;
    margin-top:-12px;
}
ul.ingredients{
    list-style: none;
}
ul.ingredients li{
    position: relative;
    line-height: 0.3cm;
    margin-left:-20px;
}
ul.ingredients li::before{
    content:"\2022";
    font-size:13px;
    position:absolute;
    left:0;
    bottom:-7px;
    line-height:2;
}
.light{
    color:hsl(30, 10%, 34%);
    width:280px;
    opacity: 0.2;
    margin-top:-10px;
}
.nutritionhr{
    color:hsl(30, 10%, 34%);
    width:280px;
    opacity: 0.3;
    

}
.instructions h3{
    margin-top:-15px;
    margin-bottom: -0.5px;
    margin-left:-35px;
}
.instructions li{
    margin-left:-15px;
    line-height: 1.5;
    list-style: digits;
    width:245px;
    position: relative; 
   line-height: 1.9; 
   text-indent: -1px;
}
.instructions li::marker{
    color:hsl(14, 45%, 36%);
    font-size:7px;
    font-weight: 500;
}
.instructions li span.side-head + * {
    display: inline; 
  }
span{
    color:hsl(30, 10%, 34%);
}
.nutrition h3{
    position:relative;
    top:-15px;
    padding-left:15px;
}
.nutrition .nutritionp{
    font-size:7px;
    margin-top:-30px;
    padding-left:15px;
}

.nutrition .nutrition-values{
    line-height: 0;
    font-size:6px;
    padding-top:5px;
    font-family: 'outfit';
    margin-top:-5px;
    padding-bottom: 4px;
}
.ntotal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}
.pvalue{
    color:hsl(14, 45%, 36%);
    margin-left:-2px;
}

/*--media queries--*/

@media screen and (max-width:1240px){
    .container{
        background-color: hsl(30, 54%, 90%);
        padding-top:35px;
        height:125vh;
    }
    .recipe-container{
        background-color: white;
        border: none;
        border-radius:15px;
        width:500px;
        margin:0 auto;
        padding-top:10px;
    }
    .first img{
        width:480px;
        padding-left:10px;
        border-radius:15px;
    }
    .first h1{
        font-family: 'young serif';
        font-size:40px;
        font-weight:400;
        padding-left:13px;
        color:hsl(24, 5%, 18%);
    }
    .ingredients > h3, .instructions > h3, .nutrition > h3{
        font-family:'young serif';
        font-size: 30px;
        font-weight: 400;
        padding-left:10px;
        color:hsl(14, 45%, 36%);
    }
    .ingredients > li,.preparation > li, .instructions > li, .nutrition > li,.nutrition > p{
        font-family: 'outfit';
        font-size:15px;
        color:hsl(30, 10%, 34%);
        padding-left:10px;
    }
    .side-head{
        font-family: 'outfit';
        font-size:15px;
        font-weight:600;
        color:hsl(24, 5%, 18%);
    }
    .first p{
        padding-left:14px;
        margin-top:-10px;
        font-size:15px;
        font-family: 'outfit';
        color:hsl(30, 10%, 34%);
    }
    ul.preparation{
        background-color:hsl(330, 100%, 98%);
        width:450px;
        margin-left:16px;
        border-radius:10px;
    }
    ul.preparation h3{
        font-size:20px;
        padding-left:15px;
        padding-top:10px;
        color:hsl(332, 51%, 32%)
    }
    .preparation > li{
        padding-left:15px;
        padding-bottom:6px;
        margin-top:-4px;
    }
    
    .ingridients h3{
    padding-left:20px;
    margin-bottom: -0.5px;
    }
ul.ingredients li{
    padding-left:20px;
    line-height: 0.5cm;
}
.light{
    color:hsl(30, 10%, 34%);
    width:280px;
    opacity: 0.2;
    
}
.nutritionhr{
    color:hsl(30, 10%, 34%);
    width:280px;
    opacity: 0.3;
    

}
.instructions h3{
    margin-top:-4px;
    margin-bottom: -0.5px;
    padding-left:20px;
}
ul.instructions li{
    padding-left:30px;
    line-height: 1.5;
    list-style: decimal;
    width:430px;
    position: relative; 
   line-height: 1.9; 
   text-indent: -10px;
}
.instructions li::marker{
    color:hsl(14, 45%, 36%);
    font-size:9px;
    font-weight: 500;
}
li span.side-head + * {
    display: inline; 
  }
.nutrition h3{
    position:relative;
    top:-15px;
    padding-left:20px;
}
.nutrition .nutritionp{
    font-size:9px;
    margin-top:-30px;
    padding-left:20px;
}
.nutrition .nutrition-values{
    line-height: 0.1;
    font-size:10px;
    padding-top:5px;
    font-family: 'outfit';
    margin-top:-5px;
    padding-bottom: 7px;
}
.ntotal{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}
.pvalue{
    color:hsl(14, 45%, 36%);
    margin-left:-2px;
}
}
@media (width:1024px) and (height:600px){
    .container {
        background-color: hsl(30, 54%, 90%);
        height:230vh;
      }
}
@media screen and (max-width:768px) {
    html,body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
    .container{
        background-color: hsl(30, 54%, 90%);
        height:100vh;
        padding-top:1px;
    }
    .recipe-container{
        background-color: white;
        border: none;
        border-radius:15px;
        width:300px;
        margin:0 auto;
    }
    .first img{
        width:280px;
        padding-left:10px;
        border-radius:15px;
    }
    .first h1{
        font-family: 'young serif';
        font-size:20px;
        font-weight:400;
        padding-left:13px;
        color:hsl(24, 5%, 18%);
    }
    .ingredients > h3, .instructions > h3, .nutrition > h3{
        font-family:'young serif';
        font-size: 16px;
        font-weight: 400;
        padding-left:10px;
        color:hsl(14, 45%, 36%);
    }
    .ingredients > li,.preparation > li, .instructions > li, .nutrition > li,.nutrition > p{
        font-family: 'outfit';
        font-size:9px;
        color:hsl(30, 10%, 34%);
        padding-left:10px;
    }
    .side-head{
        font-family: 'outfit';
        font-size:9px;
        font-weight:600;
        color:hsl(24, 5%, 18%);
    }
    .first p{
        padding-left:13px;
        margin-top:-10px;
        font-size:9px;
        font-family: 'outfit';
        color:hsl(30, 10%, 34%);
    }
    ul.preparation {
        list-style-type: none; 
        padding-left: 0; 
        margin-left: 10px; 
        padding-top:2px;
        padding-bottom: 10px;
        background-color:hsl(330, 100%, 98%);
        width:280px;
        border-radius:8px;
    }
    
    
    ul.preparation h3 {
        margin-top:-1px;
        margin-left: 20px; 
        padding-left: 0;
        padding-top:1px;
        font-size:11px;
        color:hsl(332, 51%, 32%);
    }
    
    ul.preparation li {
        position: relative; 
        margin-left: 20px; 
        padding-left: 10px; 
    }
    
    ul.preparation li::before {
        content: "\2022"; 
        font-size: 15px;
        position: absolute; 
        left: 0; 
        bottom: -11px;
        line-height:2;
    }
    
    .ingredients h3{
        margin-left:-35px;
        margin-bottom: 2px;
        margin-top:-12px;
    }
    ul.ingredients{
        list-style: none;
    }
    ul.ingredients li{
        position: relative;
        line-height: 0.3cm;
        margin-left:-20px;
    }
    ul.ingredients li::before{
        content:"\2022";
        font-size:13px;
        position:absolute;
        left:0;
        bottom:-7px;
        line-height:2;
    }
    .light{
        color:hsl(30, 10%, 34%);
        width:280px;
        opacity: 0.2;
        margin-top:-10px;
    }
    .nutritionhr{
        color:hsl(30, 10%, 34%);
        width:280px;
        opacity: 0.3;
        
    
    }
    .instructions h3{
        margin-top:-15px;
        margin-bottom: -0.5px;
        margin-left:-35px;
    }
    ul.instructions li{
        list-style-position: inside;
        line-height: 1.5;
        list-style: digits;
        width:220px;
        position: relative; 
       line-height: 1.9; 
       text-indent: -1px;
       padding-left:20px;
       margin-left:-10px;
    }
    ul.instructions li::marker{
        color:hsl(14, 45%, 36%);
        font-size:10px;
        font-weight: 600;
        position:absolute;
        top:0px;
        margin-left:0;
        text-indent: 0;
        left:100px;
    }
    ul.instructions li span.side-head + * {
        display: inline; 
      }
    span{
        color:hsl(30, 10%, 34%);
    }
    .nutrition h3{
        position:relative;
        top:-15px;
        padding-left:15px;
    }
    .nutrition .nutritionp{
        font-size:9px;
        margin-top:-30px;
        padding-left:15px;
    }
    
    .nutrition .nutrition-values{
        line-height: 0;
        font-size:6px;
        padding-top:5px;
        font-family: 'outfit';
        margin-top:-5px;
        padding-bottom: 10px;
    }
    .ntotal{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .pvalue{
        color:hsl(14, 45%, 36%);
        margin-left:-2px;
    }
}
@media (width: 540px) and (height: 720px) {
    .container {
      background-color: hsl(30, 54%, 90%);
      height:125vh;
    }
  }

@media screen and (max-width:375px) {
     *{
        
        box-sizing: border-box;
     }
     html,body{
        overflow-x: hidden;
     }
     .light{
        color:hsl(30, 10%, 34%);
        width:280px;
        opacity: 0.2;
        margin-top:-10px;
    }
    .nutritionhr{
        color:hsl(30, 10%, 34%);
        width:280px;
        opacity: 0.3;
        
    
    }
    .container{
        background-color: white;
       
    }
    .recipe-container{
        border-radius: 0;
        width:375px;
    }
    .first img{
        
        width:375px;
        margin-right: 0;
        margin-left:0;
        margin-top:-28px;
        border-radius: 0;
        padding-left:0;
    }
    .first h1{
        font-family: 'young serif';
        font-size:40px;
        font-weight:400;
        margin-left:15px;
        color:hsl(24, 5%, 18%);
    }
    .ingredients > h3, .instructions > h3, .nutrition > h3{
        font-family:'young serif';
        font-size: 25px;
        font-weight: 400;
        color:hsl(14, 45%, 36%);
    }
    .ingredients > li,.preparation > li, .instructions > li, .nutrition > li,.nutrition > p{
        font-family: 'outfit';
        font-size:17px;
        color:hsl(30, 10%, 34%);
        margin-left:10px;
    }
    .first p{
        margin-left:10px;
        margin-top:-10px;
        font-size:18px;
        width:335px;
        font-family: 'outfit';
        color:hsl(30, 10%, 34%);
    }
    ul.preparation {
        list-style-type: none; 
        padding-left: 0; 
        margin-left: 30px; 
        padding-top:2px;
        padding-bottom: 15px;
        background-color:hsl(330, 100%, 98%);
        width:310px;
        border-radius:8px;
    }
    .side-head{
        font-family: 'outfit';
        font-size:15px;
        font-weight:600;
        color:hsl(24, 5%, 18%);
    }
    ul.preparation li {
        position: relative; 
        margin-left: 20px; 
        font-size:15px;
        line-height:2;
        padding-left: 10px; 
    }
    
    ul.preparation li::before {
        content: "\2022"; 
        font-size: 22px;
        position: absolute; 
        left: -10px; 
        top:-8px;
        right:10px;
        bottom: -11px;
        line-height:2;
    }
    ul.preparation h3{
        font-size:20px;
        margin-left:15px;
        padding-top:10px;
        color:hsl(332, 51%, 32%)
    }
    ul.ingredients h3{
        margin-left:-27px;
        margin-top:5px;
    }
    ul.ingredients li{
        position: relative;
        line-height: 0.8cm;
        padding-top: 5px;
        margin-left:5px;
        width:260px;

    }
    ul.ingredients li::before {
        content: "\2022"; 
        font-size: 25px;
        color:hsl(14, 45%, 36%);
        position: absolute; 
        left: -20px;
        top:-4px;
        right:-100px;
        bottom: -11px;
        line-height:2;
    }
    .instructions h3{
        margin-left:-25px;
    }
    .instructions li{
        
        padding-top:10px;
        line-height: 1.5;
        list-style: decimal;
        width:300px;
        position: relative; 
       line-height: 1.9; 
       text-indent: -3px;
       font-size:19px;
    }
    .instructions li::marker{
        font-size:17px;
        position: absolute;
        top:0;
        right:100px;
    }
    .instructions span.side-head{
        font-size:19px;
        color:hsl(24, 5%, 18%);
    }
    li span.side-head + * {
        display: inline; 
      }
    .nutrition .nutritionp{
        font-size:17px;
        margin-top:-30px;
        margin-left:15px;
        width:335px;
    }
    .ntotal{
        font-size:17px;
    }
    .nutrition{
        margin-bottom: 20px;
    }
}






